.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.container__copyright {
  padding-top: 1rem;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.copyright__text {
  color: var(--blue);
}
