.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
}
.container__information {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.information__Logo {
  color: var(--gray);
  font-size: 1.4rem;
}
.information__Logo span {
  color: var(--blue);
}
.information_col {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--gray);
}
.information_col_about {
  width: 35%;
}
.information_col_about h4 {
  font-size: 1.2rem;
  color: var(--blue);
  font-weight: 600;
}
.information_col_about p {
  font-size: 1.2rem;
  color: var(--gray);
}
.information_col h4 {
  font-size: 1.2rem;
  color: var(--blue);
  font-weight: 600;
}

.container__copyright {
  padding-top: 1rem;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
}

.copyright__text {
  color: var(--blue);
}

@media (max-width: 992px) {
  .information__Logo {
    font-size: 1.2rem;
  }
  .information_col {
    font-size: 1rem;
  }
  .information_col_about h4 {
    font-size: 1rem;
  }
  .information_col_about p {
    font-size: 1rem;
  }
  .information_col h4 {
    font-size: 1rem;
  }
  .information_col p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
    .information__Logo {
        font-size: 1rem;
      }
      .information_col {
        font-size: 0.9rem;
      }
      .information_col_about h4 {
        font-size: 0.9rem;
      }
      .information_col_about p {
        font-size: 0.9rem;
      }
      .information_col h4 {
        font-size: 0.9rem;
      }
      .information_col p {
        font-size: 0.9rem;
      }
}

@media (max-width: 480px) {
    .container__information{
        flex-direction: column;
        align-items: flex-start;
    }
}
