.jumbotron {
  padding-top: 3.8rem;
  gap: 1rem;
}

.jumbotron__information {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.information__text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.information__text span {
  color: var(--blue);
}

.information__text p {
  color: var(--gray);
  font-size: 1.1rem;
}

.information__grid {
  flex: 1;
  background-color: var(--blackGray);
  padding: 0.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
  border-radius: 11px;
}

.information__grid__frist {
  grid-area: 1 / 1 / 3 / 2;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}

.information__grid__second {
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
  background-color: var(--blue);
}

.information__grid__third {
  grid-area: 2 / 2 / 3 / 3;
  position: relative;
  overflow: hidden;
  border-radius: 11px;
}

.information__grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.details {
  display: flex;
  background-color: var(--blackGray);
  border-radius: 20px;
  padding: 1rem;
  gap: 0.6rem;
}
.details__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.details__text p {
  color: var(--gray);
  font-size: 1.1rem;
}

.details__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.details__info {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 14px;
  background-color: var(--black);
}
.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info__container p {
  display: flex;
  font-weight: 700;
  font-size: 2.1rem;
  color: var(--blue);
}
.info__container span {
  color: var(--gray);
  font-size: 1.2rem;
}

span.info__lower_text {
  color: var(--blackGray);
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  .information__text p {
    font-size: 1rem;
  }

  .details {
    padding: 0.9rem;
  }

  .details__text {
    gap: 1rem;
  }

  .details__text p {
    font-size: 0.9rem;
  }

  .details__buttons {
    gap: 0.8rem;
  }

  .info__container p {
    font-size: 1.6rem;
  }

  .info__container span {
    font-size: 1rem;
  }

  .info__lower_text {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .jumbotron__information {
    flex-direction: column-reverse;
  }

  .information__grid {
    display: flex;
    padding: 0.3rem;
    max-height: 320px;
  }

  .information__grid__frist {
    display: none;
  }

  .information__grid__second {
    border-radius: calc(11px - 0.3rem);
  }
  .information__grid__third {
    display: none;
  }

  .information__text p {
    font-size: 0.9rem;
  }

  .details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .details__text {
    width: 100%;
  }

  .details__info {
    width: 100%;
  }

  .details__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info__container p {
    font-size: 1.4rem;
  }

  .info__container span {
    font-size: 0.9rem;
  }
  .info__lower_text {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .details {
    width: 100%;
    border-radius: 8px;
    padding: 0.3rem;
  }

  .details__text {
    display: none;
  }
  .details__info {
    border-radius: calc(11px - 0.3rem);
  }
  .info__container p {
    font-size: 0.9rem;
  }

  .info__container span {
    font-size: 0.7rem;
  }
  .info__lower_text {
    font-size: 0.7rem;
  }
}
